@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
}


/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }
  
  *::-webkit-scrollbar-track {
    background:none;
    border-radius: 3px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 14px;
    border: 0px solid #999;
  }